fastapi
uvicorn
streamlit
requests
python-dotenv

langchain
langchain-community
langchain-ollama
langchain-huggingface
langchain-qdrant

sentence-transformers
huggingface-hub

qdrant-client

pypdf
docx2txt
python-multipart